{% extends 'templates/default.twig' %}

{% block title %} Login {% endblock %}

{% block content %}
    <form action="{{ path_for('login.post') }}" method="post" autocomplete="off">
        <div>
            {{ csrf.field }}
        </div>
        <div>
            <label for="identifer">Username/Email</label>
            <input type="text" name="identifier" id="identifer">
            {% if errors.first('identifier') %} <span style="color: red;">{{ errors.first('identifier') }}</span> {% endif %}
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            {% if errors.first('password') %} <span style="color: red;">{{ errors.first('password') }}</span> {% endif %}
        </div>
        <div>
            <input type="checkbox" name="remember" id="remember" unchecked> <label for="remember">Remember Me</label>
        </div>
        <div>
            <input type="submit" name="Login">
        </div>
        <a href="{{ path_for('password.recover') }}">Forgot your password?</a>
    </form>
{% endblock %}