{% extends 'templates/default.twig' %}

{% block title %} Register {% endblock %}

{% block content %}
    <form action="{{ path_for('register.post') }}" method="post">
        <div>
            {{ csrf.field }}
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" {% if request.email %} value="{{ request.email }}" {% endif %}>
            {% if errors.has('email') %} {{ errors.first('email') }} {% endif %}
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" {% if request.username %} value="{{ request.username }}" {% endif %}>
            {% if errors.has('username') %} {{ errors.first('username') }} {% endif %}
        </div>
        <div>
            <label for="password">Password</label>
            <input type="Password" name="password" id="password">
            {% if errors.has('password') %} {{ errors.first('password') }} {% endif %}
        </div>
        <div>
            <label for="password_confirm">Confirm Password</label>
            <input type="Password" name="password_confirm" id="password_confirm">
            {% if errors.has('password_confirm') %} {{ errors.first('password_confirm') }} {% endif %}
        </div>
        <div>
            <div class="g-recaptcha" data-sitekey="6LdiDFAUAAAAAGc6D0_n95R_Ff7UwrbfVtLSBNNG"></div>
            {% if errors.has('g-recaptcha-response') %} <span style="color: red;">{{ errors.first('g-recaptcha-response') }}</span> {% endif %}
        </div>
        <div>
            <input type="submit" name="Register">
        </div>
    </form>
{% endblock %}